# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dff3wnyip
CLOUDINARY_API_KEY=854791412441823
CLOUDINARY_API_SECRET=n6SlyGiJgPDf7TMbUL27N_VhDy8

# Smart Parking Server Configuration
SMART_PARKING_SERVER_URL=http://192.168.102.3:8080

# ALPR Service Configuration
ALPR_SERVICE_PORT=5001 